<div class='aboutContainer'>
	<div class='floatedAbout'>
			<span class='italic'>dear beef</span> is a blog of letters dedicated to a long distance relationship between soulmates. Beginning their love affair in the Summer of '95, Sierra and Kiana spent many-a-moons traversing the world of imagination together whilst screaming in cars. Now living on separate coasts -- Sierra in California, and Kiana in North Carolina -- these letters are the tellings of one best friend's life events to another. Welcome to the inner circle of beef stew supreme.<br><br>

			<div class='socialMedia'>
				<p class='instaLink'><%= link_to 'more of Sierra;', 'https://www.instagram.com/flatulancebass', target: :_blank %></p>
				<p class='instaLink'><%= link_to 'more of Kiana;', 'https://www.instagram.com/', target: :_blank %></p>
			</div>
	</div>

	<%= image_tag 'beef_about.jpg', class: 'aboutImg' %>	
</div>